<!-- <h1> {{ message }} </h1> -->

<!DOCTYPE html>
  <html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
    </head>

  <body>
    <div class="container">
        <h1> {{ message }} </h1>
        <h1>Pickup Lines</h1>
          <ul>
            <li>There once was a man from Peru.Who dreamed he was eating his shoe.He woke up at night.With a terrible fright.To find out his dream had come true!</li>
            <li>Our school trip was a special occasion.But we never reacher our destination.Instead of the zoo.I was locked in the loo of the toilet at the service station!</li>
            <li>An elderly man called Keith.Mislaid his set of false teeth.They'd been laid on a chair.He'd forgot they were there.Sat down, and was bitten beneath.</li>
          </ul>

          <h1>Interview Pitch</h1>
          <p>Tips For Pitching Interview</p>
          <ul>
            <li>Keep it short and snappy</li>
            <li>Keep it natural</li>
            <li>Your pitch should reflect your professionalism</li>
          </ul>
        
        <h1>Product Pitch</h1>
        <p>Your pitch MUST include the following steps</p>
          <ul>
            <li>Put together a professional information sheet on your product</li>
            <li>Show why you are knowledgeable about your product idea</li>
            <li>Pick a distribution channel you can penetrate,and have a plan to do so</li>
            <li>Create a Target Customer Profile Chart</li>
            <li>Have a great name,slogan and packaging concept</li>
          </ul>
        <h1>Promotion Pitch</h1>
        <p>Steps to promote your products</p>
          <ul>
            <li>Prepare Your Message</li>
            <li>Choose Your Message</li>
            <li>Choose Your Venue</li>
            <li>Time it Wisely</li>
            <li>Be Clear About What You're Asking for and How This Person Can Facilitate It</li>
            <li>Stand Behind Your Idea</li>
            <li>Be Genuine</li>
          </ul>
    </div>
  </body>

</html>

