{% extends 'base.html'%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best Movie Review website </title>
    {% endif %}
</head>
{% block content %}

<div class="container">
    <h1> {{ message }} </h1>
    <h1>Pickup Lines</h1>
    <ul>
        <li>There once was a man from Peru.Who dreamed he was eating his shoe.He woke up at night.With a terrible
            fright.To find out his dream had come true!</li>
        <li>Our school trip was a special occasion.But we never reacher our destination.Instead of the zoo.I was locked
            in the loo of the toilet at the service station!</li>
        <li>An elderly man called Keith.Mislaid his set of false teeth.They'd been laid on a chair.He'd forgot they
            were there.Sat down, and was bitten beneath.</li>
    </ul>
</div>

{% endblock %}